@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.taco-footer {
    display: flex;
    width: 100%;
    background: #F47D34;
    justify-content: center;
}

.taco-contain {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 481px;
    overflow: hidden;
}

.fala {
    font-family: 'Montserrat';
    font-size: 42px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    color: #FFFFFF;
    padding-top: 43px;
}

.button-variety {
    min-height: 50px;
    max-width: 277px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7D633;
    border-radius: 10px;
    margin-top: 20px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    color: #2E190F;
}

.svg-sites {
    padding-top: 57px;
}

.padd-svg {
    margin-right: 20px;
}

.navigation {
    display: flex;
    padding-top: 104px;
}

.navigation > a {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    color: #FFFFFF;
    padding-right: 30px;
}

.padd-none {
    padding: 0;
}

.reserved {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    padding-top: 29px;
    color: #2E190F;
}

.taco-positions {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: -152px;
}

.other-positions {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.other-positions > img {
    width: 100%;    
}

.other-img-position {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
}

.other-img-position > img {
    width: 100%;
}

@media (max-width:1050px) {
    .taco-positions {
        top: 0;
    }
    .taco-positions > img {
        width: 220px;
    }
}

@media (max-width:750px) {
    .taco-positions {
        position: relative;
        margin-top: 120px;
    }
    .navigation {
        flex-direction: column;
        padding: 62px 0px 11px 0px;
    }
    .navigation > a {
        padding: 0px 0px 23px 0px;
        text-align: center;
    }
    .other-positions {
        display: none;
    }
    .other-img-position {
        bottom: 398px;
    }
    .taco-positions > img {
        width: 200px;
    }
}

@media (max-width:428px) {
    .fala {
        font-size: 30px;
    }
    .reserved {
        padding: 0;
    }
    .other-positions {
        display: flex;
        top: 14px;
        width: max-content;
        left: -298px;
    }
    .other-positions > img {
        height: 185px;
    }
    .other-img-position {
        bottom: 364px;
    }
    .taco-positions {
        margin-top: 72px;
    }
    .button-variety {
        max-width: 388px;
        position: relative;
        z-index: 10;
    }
}

@media (max-width:400px) {
    .button-variety {
        max-width: 277px;
    }
    .taco-positions > img {
        width: 150px;
    }
    .other-img-position {
        bottom: 295px;
    }
    .other-positions {
        display: none;
    }
}